/* Start css Abdur Rahan */
/*-----------------------------------------------------------------------------------*/
/*	FONT STYLING
/*-----------------------------------------------------------------------------------*/
@font-face {
  font-family: AvenirLTStd-Roman;
  src: url(../../fonts/AvenirLTStd-Roman.woff); }
/*-----------------------------------------------------------------------------------*/
/*	GENERAL STYLING
/*-----------------------------------------------------------------------------------*/
/* line 109, ../sass/style.scss */
body {
  margin: 0px;
  padding: 0px;
  padding-top: 117px;
  font-family: "AvenirLTStd-Roman";
  color: #333; }

/* line 117, ../sass/style.scss */
header {
  margin: 0px;
  height: 130px;
  display: initial;
  position: relative;
  clear: both;
  background: #ffffff; }

/* line 125, ../sass/style.scss */
.navbar {
  margin-bottom: 0px;
  border: 0px solid transparent;
  font-size: 16px;
  background: #ffffff;
  clear: both; }
  /* line 131, ../sass/style.scss */
  .navbar a {
    font-size: 16px;
    color: #000000; }
    /* line 134, ../sass/style.scss */
    .navbar a:hover {
      color: #f28021;
      background: none; }

/* line 140, ../sass/style.scss */
.nav > li > a:focus, .nav > li > a:hover {
  color: #f28021;
  background: none; }

/* line 141, ../sass/style.scss */
.navbar-brand {
  padding: 0px; }

/* line 144, ../sass/style.scss */
.since1902 {
  line-height: 110px; }

/* line 148, ../sass/style.scss */
.since1902 img {
  vertical-align: bottom; }

/* line 151, ../sass/style.scss */
.top-cart {
  padding-top: 15px; }
  /* line 154, ../sass/style.scss */
  .top-cart .text-right {
    margin-top: 20px;
    padding-right: 0;
    margin-right: 0px; }
    /* line 158, ../sass/style.scss */
    .top-cart .text-right a {
      margin-left: 15px;
      color: #000000; }
      /* line 161, ../sass/style.scss */
      .top-cart .text-right a:hover {
        color: #f28021;
        background: none;
        text-decoration: none; }
    /* line 164, ../sass/style.scss */
    .top-cart .text-right .navbar-form {
      margin: 0;
      padding: 0; }
      /* line 168, ../sass/style.scss */
      .top-cart .text-right .navbar-form .input-group-addon {
        color: #ffffff;
        text-align: center;
        background-color: #f28021;
        border: 1px solid #f28021; }
      /* line 175, ../sass/style.scss */
      .top-cart .text-right .navbar-form .form-control {
        border: 1px solid #999999; }
  /* line 181, ../sass/style.scss */
  .top-cart .col-md-8 {
    margin-top: 28px; }

/* line 185, ../sass/style.scss */
.call-icon-div {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right; }

/* line 190, ../sass/style.scss */
.call-icon {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #3b3b3b;
  margin-right: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  vertical-align: middle; }
  /* line 202, ../sass/style.scss */
  .call-icon i {
    font-size: 16px;
    margin: auto;
    line-height: 20px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

/********************************/
/*          product home CSS     */
/********************************/
/* line 212, ../sass/style.scss */
.category-list {
  margin-top: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center; }
  /* line 217, ../sass/style.scss */
  .category-list .hero-feature {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  /* line 222, ../sass/style.scss */
  .category-list a {
    display: inline-block;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none; }
    /* line 230, ../sass/style.scss */
    .category-list a .thumbnail {
      border: none;
      display: inline-block;
      height: 180px;
      width: 180px;
      margin: auto;
      vertical-align: middle;
      line-height: 180px; }
      /* line 239, ../sass/style.scss */
      .category-list a .thumbnail img {
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        max-height: 160px;
        vertical-align: middle;
        margin: auto;
        line-height: 180px;
        display: inline-block; }
      /* line 241, ../sass/style.scss */
      .category-list a .thumbnail:hover img {
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer;
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
    /* line 244, ../sass/style.scss */
    .category-list a .caption {
      margin: 0px;
      border: none;
      padding: 0px; }
      /* line 248, ../sass/style.scss */
      .category-list a .caption h3 {
        margin: 0px;
        border: none;
        padding: 0px;
        margin-top: 10px;
        text-transform: capitalize;
        font-size: 18px;
        text-align: center;
        color: #333; }
    /* line 263, ../sass/style.scss */
    .category-list a:hover h3 {
      color: #f28021;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s; }

/* line 269, ../sass/style.scss */
.product-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  /* line 273, ../sass/style.scss */
  .product-list .hero-feature {
    /*display:table-cell;
    min-height:235px; @include flex-box;*/
    margin-bottom: 40px;
    text-align: center; }
  /* line 280, ../sass/style.scss */
  .product-list a {
    display: inline-block;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none; }
    /* line 287, ../sass/style.scss */
    .product-list a .thumbnail {
      border: none;
      display: inline-block;
      height: 180px;
      width: 180px;
      margin: auto;
      vertical-align: middle;
      line-height: 180px;
      padding: 0px;
      margin: auto; }
      /* line 299, ../sass/style.scss */
      .product-list a .thumbnail img {
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        max-height: 180px;
        vertical-align: middle;
        margin: auto;
        line-height: 180px;
        display: inline-block; }
      /* line 301, ../sass/style.scss */
      .product-list a .thumbnail:hover img {
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer;
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
    /* line 304, ../sass/style.scss */
    .product-list a .caption {
      margin: 0px;
      border: none;
      padding: 0px; }
      /* line 308, ../sass/style.scss */
      .product-list a .caption h3 {
        margin: 0px;
        border: none;
        padding: 0px;
        margin-top: 10px;
        text-transform: capitalize;
        text-align: center;
        color: #333; }
    /* line 318, ../sass/style.scss */
    .product-list a:hover h3 {
      color: #f28021;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s; }

/* line 324, ../sass/style.scss */
.home-top-product {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  /* line 327, ../sass/style.scss */
  .home-top-product .hero-feature {
    /*display:table-cell;
    min-height:235px;*/
    margin-bottom: 25px; }
  /* line 334, ../sass/style.scss */
  .home-top-product .thumbnail {
    border: none;
    padding: 0px;
    margin: 0px;
    text-align: center; }
    /* line 339, ../sass/style.scss */
    .home-top-product .thumbnail a {
      cursor: pointer;
      text-decoration: none;
      margin: 0px;
      padding: 0px; }
      /* line 346, ../sass/style.scss */
      .home-top-product .thumbnail a img {
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
      /* line 347, ../sass/style.scss */
      .home-top-product .thumbnail a .caption {
        border: none;
        padding: 0px;
        margin: 0px;
        text-align: center; }
        /* line 352, ../sass/style.scss */
        .home-top-product .thumbnail a .caption h3 {
          border: none;
          padding: 0px;
          margin: 0px;
          margin-top: 10px;
          text-transform: capitalize;
          text-align: center;
          color: #333; }
      /* line 363, ../sass/style.scss */
      .home-top-product .thumbnail a:hover h3 {
        color: #f28021;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
  /* line 368, ../sass/style.scss */
  .home-top-product .media-carousel .carousel-inner img {
    width: none; }

/* line 374, ../sass/style.scss */
.promo-information p {
  font-size: 14px;
  color: #333;
  bottom: 0;
  position: relative;
  display: block;
  vertical-align: bottom;
  margin-top: 100px; }
/* line 383, ../sass/style.scss */
.promo-information .caption {
  padding-left: 100px !important; }
  /* line 385, ../sass/style.scss */
  .promo-information .caption h3 {
    font-size: 24px; }

/* Product Previous button  */
/* line 394, ../sass/style.scss */
.product-carousel {
  /* Next button  */
  /* Changes the position of the indicators */ }
  /* line 396, ../sass/style.scss */
  .product-carousel .carousel-control.left {
    left: -12px;
    background-image: none;
    color: #000;
    height: 40px;
    width: 40px;
    margin-top: 52%; }
  /* line 406, ../sass/style.scss */
  .product-carousel .carousel-control.right {
    right: -12px !important;
    background-image: none;
    color: #000;
    height: 40px;
    width: 40px;
    margin-top: 52%; }
  /* line 418, ../sass/style.scss */
  .product-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px; }

/****************************************************/
/*          Product Category page CSS     */
/***************************************************/
/* line 432, ../sass/style.scss */
.category-top-bar {
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  /*display: block;*/
  min-height: 50px;
  margin-top: 20px; }
  /* line 439, ../sass/style.scss */
  .category-top-bar h2 {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    text-align: right; }

/* line 442, ../sass/style.scss */
.sidebar-nav {
  background: #f9f9f9;
  padding: 20px 25px 20px 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  /* line 449, ../sass/style.scss */
  .sidebar-nav .nav {
    width: 100%; }
  /* line 451, ../sass/style.scss */
  .sidebar-nav .nav-stacked > li {
    border-bottom: 1px solid #d7d7d7; }
    /* line 453, ../sass/style.scss */
    .sidebar-nav .nav-stacked > li:hover {
      background: #e2e0e0; }
    /* line 455, ../sass/style.scss */
    .sidebar-nav .nav-stacked > li a {
      font-size: 16px;
      color: #333; }
      /* line 456, ../sass/style.scss */
      .sidebar-nav .nav-stacked > li a:hover {
        color: #f28021; }
      /* line 457, ../sass/style.scss */
      .sidebar-nav .nav-stacked > li a:active {
        color: #f28021; }
  /* line 460, ../sass/style.scss */
  .sidebar-nav .nav-stacked > li:last-child {
    border-bottom: 0px solid #d7d7d7; }
  /* line 461, ../sass/style.scss */
  .sidebar-nav .active {
    background: #e2e0e0;
    color: #f28021; }
    /* line 462, ../sass/style.scss */
    .sidebar-nav .active a {
      color: #f28021 !important; }

/****************************************************/
/*          Product details page CSS     */
/***************************************************/
/* line 472, ../sass/style.scss */
.details-info .details-title {
  display: block;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  margin-top: 50px;
  margin-bottom: 10px; }
  /* line 473, ../sass/style.scss */
  .details-info .details-title span h2 {
    font-size: 20px; }
/* line 479, ../sass/style.scss */
.details-info h3 {
  font-size: 18px; }
/* line 480, ../sass/style.scss */
.details-info p {
  font-size: 13px;
  font-weight: normal;
  line-height: 20px; }

/* line 485, ../sass/style.scss */
.pro-details-button .details-title {
  display: block;
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  margin-top: 50px;
  margin-bottom: 10px; }
  /* line 486, ../sass/style.scss */
  .pro-details-button .details-title span h2 {
    font-size: 20px; }

/* line 491, ../sass/style.scss */
.pro-details-list {
  margin-top: 30px; }
  /* line 493, ../sass/style.scss */
  .pro-details-list th {
    background: #f9f9f9;
    font-size: 16px; }

/* line 499, ../sass/style.scss */
.product-details {
  margin-top: 30px; }
  /* line 501, ../sass/style.scss */
  .product-details .zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }
  /* line 510, ../sass/style.scss */
  .product-details .zoom:hover,
  .product-details .zoom:active,
  .product-details .zoom:focus {
    /**adjust scale to desired size, 
    add browser prefixes**/
    -ms-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position: relative;
    z-index: 100; }
  /* line 524, ../sass/style.scss */
  .product-details .product-details-thumb {
    list-style: none;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    /* line 530, ../sass/style.scss */
    .product-details .product-details-thumb li {
      width: 10%;
      cursor: pointer;
      float: left;
      margin-right: 20px;
      border: 1px solid #d7d7d7;
      -webkit-border-radius: 4;
      -moz-border-radius: 4;
      -ms-border-radius: 4;
      border-radius: 4;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px; }
      /* line 532, ../sass/style.scss */
      .product-details .product-details-thumb li img {
        height: 60px; }
  /* line 538, ../sass/style.scss */
  .product-details .thumbnail {
    padding: 0; }
  /* line 542, ../sass/style.scss */
  .product-details .product-slider .carousel-inner > .item > img, .product-details .carousel-inner > .item > a > img {
    width: auto;
    text-align: center;
    margin: auto;
    display: flex;
    min-height: 500px; }

/********************************/
/*   Related Product CSS     */
/********************************/
/* line 557, ../sass/style.scss */
.related-product {
  margin-top: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center; }
  /* line 559, ../sass/style.scss */
  .related-product h2 {
    font-size: 18px;
    text-transform: capitalize;
    clear: both;
    display: block;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px; }
  /* line 562, ../sass/style.scss */
  .related-product .hero-feature {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-right: 1px  dotted #d7d7d7; }
    /* line 566, ../sass/style.scss */
    .related-product .hero-feature:last-child {
      border-right: 0px  dotted #d7d7d7; }
  /* line 568, ../sass/style.scss */
  .related-product a {
    display: inline-block;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none; }
    /* line 576, ../sass/style.scss */
    .related-product a .thumbnail {
      border: none;
      display: inline-block;
      height: 180px;
      width: 180px;
      margin: auto;
      vertical-align: middle;
      line-height: 180px; }
      /* line 585, ../sass/style.scss */
      .related-product a .thumbnail img {
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        max-height: 160px;
        vertical-align: middle;
        margin: auto;
        line-height: 180px;
        display: inline-block; }
      /* line 587, ../sass/style.scss */
      .related-product a .thumbnail:hover img {
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer;
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
    /* line 590, ../sass/style.scss */
    .related-product a .caption {
      margin: 0px;
      border: none;
      padding: 0px; }
      /* line 594, ../sass/style.scss */
      .related-product a .caption h3 {
        margin: 0px;
        border: none;
        padding: 0px;
        margin-top: 10px;
        text-transform: capitalize;
        font-size: 18px;
        text-align: center;
        color: #333; }
    /* line 609, ../sass/style.scss */
    .related-product a:hover h3 {
      color: #f28021;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s; }

/********************************/
/*          Footer CSS     */
/********************************/
/* line 619, ../sass/style.scss */
footer {
  margin: 50px 0px 10px 0px; }

/* line 623, ../sass/style.scss */
.haber-footer {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }

/* line 624, ../sass/style.scss */
.foo-address p {
  font-size: 18px; }

/* line 625, ../sass/style.scss */
.foo-social {
  text-align: center; }
  /* line 626, ../sass/style.scss */
  .foo-social i {
    margin-right: 20px;
    font-size: 40px;
    text-align: center;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    /* line 627, ../sass/style.scss */
    .foo-social i:hover {
      color: #f28021;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

/* line 630, ../sass/style.scss */
.foo-contact p {
  font-size: 24px; }

/* line 631, ../sass/style.scss */
.contact-header {
  border-bottom: 2px solid #3b3b3b;
  margin-bottom: 30px; }
  /* line 635, ../sass/style.scss */
  .contact-header h2 {
    text-align: center;
    background: #3b3b3b;
    padding: 10px;
    width: 200px;
    margin: auto;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 18px;
    text-transform: capitalize; }

/* line 649, ../sass/style.scss */
.address-pointer {
  float: left;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #3b3b3b;
  margin-right: 20px;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle; }
  /* line 652, ../sass/style.scss */
  .address-pointer i {
    font-size: 26px;
    margin: auto;
    line-height: 40px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  /* line 653, ../sass/style.scss */
  .address-pointer:hover i {
    color: #ffffff; }
  /* line 654, ../sass/style.scss */
  .address-pointer:hover {
    background: #f28021;
    border-color: #f28021;
    cursor: pointer;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

/********************************/
/*          Slider CSS     */
/********************************/
/* line 662, ../sass/style.scss */
.carousel-fade .carousel-inner .item .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }

/* line 672, ../sass/style.scss */
.carousel-fade .carousel-inner {
  max-height: 500px; }

/* line 673, ../sass/style.scss */
.carousel-fade .carousel-inner > .item > img {
  width: 100%; }

/* line 675, ../sass/style.scss */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity; }

/* line 679, ../sass/style.scss */
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

/* line 684, ../sass/style.scss */
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

/* line 689, ../sass/style.scss */
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* line 697, ../sass/style.scss */
.carousel-fade .carousel-control {
  z-index: 2;
  background: none;
  width: 100%;
  height: 100%;
  display: inline-block; }

/********************************/
/*          Mobile device CSS     */
/********************************/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 711, ../sass/style.scss */
  .call-icon-div {
    display: none; } }
@media only screen and (min-width: 769px) and (max-width: 991px) {
  /* line 716, ../sass/style.scss */
  .navbar-nav {
    margin: 0px;
    background: transparent; }
    /* line 720, ../sass/style.scss */
    .navbar-nav li > a {
      border-bottom: 0px solid #d7d7d7; }

  /* line 722, ../sass/style.scss */
  .call-icon-div {
    display: none; }

  /* line 724, ../sass/style.scss */
  .sidebar-nav ul {
    width: 100%; }

  /* line 726, ../sass/style.scss */
  .since1902 {
    display: none; }

  /* line 728, ../sass/style.scss */
  .category-top-bar {
    border-top: 0px solid #d7d7d7;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;
    margin-top: 50px; } }
@media only screen and (max-width: 768px) {
  /* line 735, ../sass/style.scss */
  .since1902 {
    display: none; }

  /* line 736, ../sass/style.scss */
  .navbar-toggle {
    background: #505050; }

  /* line 737, ../sass/style.scss */
  .navbar-toggle .icon-bar {
    background: #ffffff; }

  /* line 738, ../sass/style.scss */
  .navbar-brand img {
    height: 85px;
    z-index: 100; }

  /* line 741, ../sass/style.scss */
  .top-cart .col-md-8, .top-cart .text-right {
    margin-top: 0px; }

  /* line 744, ../sass/style.scss */
  .navbar-nav {
    margin: 0px;
    background: transparent; }
    /* line 748, ../sass/style.scss */
    .navbar-nav li > a {
      border-bottom: 0px solid #d7d7d7; }

  /* line 751, ../sass/style.scss */
  .foo-contact p {
    font-size: 16px;
    margin-top: 20px; }

  /* line 752, ../sass/style.scss */
  .call-icon-div {
    display: none; }

  /* line 753, ../sass/style.scss */
  .category-list, .product-list, .category-top-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }

  /* line 760, ../sass/style.scss */
  .sidebar-nav ul {
    width: 100%; } }
@media only screen and (max-width: 650px) {
  /* line 766, ../sass/style.scss */
  .navbar-nav {
    margin: 0px; }
    /* line 768, ../sass/style.scss */
    .navbar-nav li > a {
      border-bottom: 1px solid #d7d7d7; } }

/*# sourceMappingURL=style.css.map */
