//Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
//@import url(http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900);

//Variables
//@import "variables";
//@import "custom_style";

//Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "./resources/assets/admin_theme/assests/css/theme-default/bootstrap.css";


/* Start css Abdur Rahan */

/*-----------------------------------------------------------------------------------*/
/*	FONT STYLING
/*-----------------------------------------------------------------------------------*/
@font-face {
  font-family:AvenirLTStd-Roman;
  src: url(../fonts/AvenirLTStd-Roman.woff) format('woff'), url(../fonts/AvenirLTStd-Roman.otf) format('otf');
}
$font-stack: 'AvenirLTStd-Roman';
$primary-color: #333;
$back-color: #ffffff;
$border-color: #3b3b3b;
$hover-color:#f28021;
$hover-text-color:#ffffff;
$link-color:#f28021;
$btn-color:#f28021;

@mixin flex-box (){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  //flex-direction: row ;
  //flex-wrap:wrap ;
  // justify-content:center;
  //height:100%;

}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin box-shadow ($string) {
  -webkit-box-shadow: $string;
  -moz-box-shadow:    $string;
  -ms-box-shadow:    $string;
  -o-box-shadow:    $string;
  box-shadow:         $string;
}
//.box { @include box-shadow (2px 2px 5px rgba(0,0,0,0.3)); }
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
//.box { @include border-radius(10px); }

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

//.box { @include transition(background-color 1s .5s, color 2s); }

// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}
//@var haber-font-family:"AvenirLTStd-Roman";
/*-----------------------------------------------------------------------------------*/
/*	GENERAL STYLING
/*-----------------------------------------------------------------------------------*/

body {
  margin:0px;
  padding:0px;
  padding-top: 117px;
  font-family: $font-stack;
  color: $primary-color;
}

header {
  margin: 0px;
  height: 130px;
  display: initial;
  position: relative;
  clear: both;
  background:$back-color;
}
.navbar {
  margin-bottom: 0px;
  border: 0px solid transparent;
  font-size: 16px;
  background:#ffffff;
  clear:both;

  a {
    font-size: 16px;
    color:#000000;
    &:hover { color:#f28021; background:none;}

  }


}
.navbar-nav { float:right;}
.navbar-fixed-top { border-bottom:1px solid #d7d7d7;}
.nav>li>a:focus, .nav>li>a:hover { color:#f28021; background:none;}
.navbar-brand {
  padding:0px;
}
.since1902 {
  line-height: 110px;

}
.since1902 img{
  vertical-align: bottom;
}
.top-cart {
  padding-top: 15px;

  .text-right {
    margin-top: 20px;
    padding-right: 0;
    margin-right: 0px;
    a {
      margin-left: 15px;
      color:#000000;
      &:hover {color:#f28021; background:none; text-decoration:none;}

    }
    .navbar-form {
      margin: 0;
      padding: 0;

      .input-group-addon {
        color: #ffffff;
        text-align: center;
        background-color: #f28021;
        border: 1px solid #f28021;
      }

      .form-control {
        border: 1px solid #999999;
      }
    }

  }
  .col-md-8 {
    margin-top: 28px;
  }
}
.call-icon-div {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
  float:right;
}
.call-icon {
  @include transition(.3s);
  border:1px solid $border-color;
  margin-right: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;

  i {
    font-size:16px; margin: auto; line-height: 20px;@include transition(.3s);
  }
}


.navbar-form {
  .input-group { width:100%; }
}
/********************************/
/*          product home CSS     */
/********************************/


.category-list
{

  margin-top:30px;
  @include flex-box;
  justify-content:center;
  flex-direction: row ;
  flex-wrap:wrap ;


  .hero-feature {
    margin-bottom:25px;
    @include flex-box;

  }
  a {

    display:inline-block;
    @include transition( 0.3s);
    cursor:pointer;
    text-decoration:none;


    .thumbnail {
      border:none;
      display: inline-block;
      height: 220px;
      width: 220px;
      margin: auto;
      vertical-align: middle;
      line-height: 220px;

      img { @include transition(0.5s);  max-height:210px;  vertical-align: middle;  margin: auto; line-height: 210px;  display: inline-block;
      }
      &:hover img { @include transition(0.5s); cursor: pointer; @include scale(1.1);  }
    }

    .caption  {
      margin:0px;
      border:none;
      padding:0px;
      h3 {
        margin:0px;
        border:none;
        padding:0px;
        margin-top:10px;
        text-transform: capitalize;
        font-size:18px;
        text-align:center;
        color:$primary-color;


      }


    }
    &:hover h3 { color:$hover-color; @include transition(0.5s); }

  }

}

.product-list
{

  @include flex-box;
  flex-direction: row ;
  flex-wrap:wrap ;
  justify-content:center;

  .hero-feature {
    /*display:table-cell;
    min-height:235px; @include flex-box;*/
    margin-bottom: 40px;
    text-align:center;

  }
  a {

    display:inline-block;
    @include transition( 0.3s);
    cursor:pointer;
    text-decoration:none;

    .thumbnail {
      border:none;
      display: inline-block;
      height: 180px;
      width: 180px;
      margin: auto;
      vertical-align: middle;
      line-height: 180px;
      padding:0px;
      margin:auto;


      img { @include transition(0.5s);  max-height:180px;  vertical-align: middle;  margin: auto; line-height: 180px;  display: inline-block;
      }
      &:hover img { @include transition(0.5s); cursor: pointer; @include scale(1.1);  }
    }

    .caption  {
      margin:0px;
      border:none;
      padding:0px;
      h3 {
        margin:0px;
        border:none;
        padding:0px;
        margin-top:10px;
        text-transform: capitalize;
        text-align:center;
        color:$primary-color;
      }
    }
    &:hover h3 { color:$hover-color; @include transition(0.5s); }

  }

}

.home-top-product {

  @include flex-box;
  justify-content:center;
  flex-direction: row ;
  flex-wrap:wrap ;
  .hero-feature {
    /*display:table-cell;
    min-height:235px;*/
    margin-bottom: 25px;

  }

  .thumbnail {
    border:none;
    padding:0px;
    margin:0px;
    text-align:center;
    a {
      cursor:pointer;
      text-decoration:none;
      margin:0px;
      padding:0px;


      img { @include transition(0.5s);  }
      .caption  {
        border:none;
        padding:0px;
        margin:0px;
        text-align:center;
        h3 {

          border:none;
          padding:0px;
          margin:0px;
          margin-top:10px;
          text-transform: capitalize;
          text-align:center;
          color:$primary-color;
        }
      }
      &:hover h3 { color:$hover-color; @include transition(0.5s); }
    }

  }

  .media-carousel .carousel-inner img { width:none;}

}

.promo-information {

  p { font-size:14px; color:$primary-color;
    bottom: 0;
    position: relative;
    display: block;
    vertical-align: bottom;
    margin-top: 100px;
  }

  .thumbnail {}
  .caption  {
    padding-left:100px !important;
    h3 {
      font-size:24px;
    }
  }
}



/* Product Previous button  */
.product-carousel
{
  .carousel-control.left
  {
    left: -12px;
    background-image: none;
    color:#000;
    height: 40px;
    width : 40px;
    margin-top: 52%;
  }
  /* Next button  */
  .carousel-control.right
  {
    right: -12px !important;
    background-image: none;
    color:#000;
    height: 40px;
    width : 40px;
    margin-top: 52%;
  }


  /* Changes the position of the indicators */
  .carousel-indicators
  {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
  }
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img { display:initial;}

/****************************************************/
/*          Product Category page CSS     */
/***************************************************/

.category-top-bar {

  border-bottom:1px solid #d7d7d7;
  border-top: 0px solid #d7d7d7;
  /*display: block;*/
  min-height: 50px;
  margin-top: 10px;
  h2 { font-size:18px; color:$primary-color; text-transform:uppercase; text-align: right;}

}
.sidebar-nav {
  background:#f9f9f9;
  padding:20px 25px 20px 25px;
  @include border-radius(2px);
  @include box-shadow(0px 0px 5px rgba(0,0,0,0.2));
  margin-top: 30px;
  height:100%;
  .nav { width:100%;}

  .nav-stacked >li {
    border-bottom:1px solid #d7d7d7;
    &:hover {background:#e2e0e0;}

    a { font-size:16px; color:$primary-color;
      &:hover {color:$hover-color;}
      &:active {color:$hover-color;}
    }
  }
  .nav-stacked>li:last-child { border-bottom:0px solid #d7d7d7; }
  .active { background:#e2e0e0;  color:$hover-color;
    a { color:$hover-color !important; }
  }

}

/****************************************************/
/*          Product details page CSS     */
/***************************************************/

.details-info {
  .details-title { display: block; width: 100%; border-bottom:1px solid #d7d7d7; border-top:1px solid #d7d7d7;  margin-top:50px; margin-bottom:10px;
    span {   h2 { font-size:20px; }

    }

  }

  h3 { font-size:18px; }
  p { font-size:13px; font-weight:normal; line-height:20px; }

}

.pro-details-button {
  .details-title { display: block; width: 100%; border-bottom:1px solid #d7d7d7; border-top:1px solid #d7d7d7;  margin-top:50px; margin-bottom:10px;
    span {   h2 { font-size:20px; }

    }
  }
}
.pro-details-list {
  margin-top:30px;
  th { background:#f9f9f9; font-size:16px;}


}


.product-details {
  margin-top:30px;
  .zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }

  .zoom:hover,
  .zoom:active,
  .zoom:focus {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position:relative;
    z-index:100;
  }

  .product-details-thumb {
    list-style:none;
    margin-left: 10px;
    margin-top:20px;
    cursor:pointer;
    @include flex-box;
    justify-content:center;
    li { width:10%; cursor:pointer; float:left; margin-right:20px; border:1px solid #d7d7d7; @include border-radius(4); @include flex-box; padding:10px;  justify-content:center;

      img { height:60px;   justify-content:center;   }

    }

  }

  .thumbnail {
    padding: 0;
  }

  .product-slider .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width:auto;
    text-align:center;
    margin:auto;
    display:flex;
    min-height:500px;
  }


}

/********************************/
/*   Related Product CSS     */
/********************************/

.related-product
{
  h2 { font-size:18px; text-transform:capitalize; clear:both;    display: block; width: 100%; border-bottom:1px solid #d7d7d7; padding-bottom:20px; }
  margin-top:30px; @include flex-box;
  justify-content:center;
  flex-direction: row ;
  flex-wrap:wrap ;

  .hero-feature {
    margin-bottom:25px;
    @include flex-box;
    flex-direction: row ;
    flex-wrap:wrap ;
    justify-content:center;
    border-right: 1px  dotted #d7d7d7;
    &:last-child {	border-right: 0px  dotted #d7d7d7;}
  }
  a {

    display:inline-block;
    @include transition( 0.3s);
    cursor:pointer;
    text-decoration:none;


    .thumbnail {
      border:none;
      display: inline-block;
      height: 180px;
      width: 180px;
      margin: auto;
      vertical-align: middle;
      line-height: 180px;

      img { @include transition(0.5s);  max-height:160px;  vertical-align: middle;  margin: auto; line-height: 180px;  display: inline-block;
      }
      &:hover img { @include transition(0.5s); cursor: pointer; @include scale(1.1);  }
    }

    .caption  {
      margin:0px;
      border:none;
      padding:0px;
      h3 {
        margin:0px;
        border:none;
        padding:0px;
        margin-top:10px;
        text-transform: capitalize;
        font-size:18px;
        text-align:center;
        color:$primary-color;


      }


    }
    &:hover h3 { color:$hover-color; @include transition(0.5s); }

  }

}


/********************************/
/*          Footer CSS     */
/********************************/
footer {
  margin: 50px 0px 10px 0px;
}

.haber-footer { @include transition(.2s); cursor:pointer; }
.foo-address p { font-size:18px;}
.foo-social {  text-align:center;
  i { margin-right:20px; font-size:40px; text-align:center; @include transition(.3s); cursor:pointer;
    &:hover { color:$hover-color; @include transition(.3s);}
  }
}
.foo-contact
{
  float:right;
  @include flex-box;
  p { font-size:24px;}
}
.contact-header {
  border-bottom: 2px solid $border-color;
  margin-bottom: 30px;

  h2 {
    text-align: center;
    background: $border-color;
    padding: 10px;
    width: 200px;
    margin: auto;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 18px;
    text-transform: capitalize;
  }
}

.address-pointer {
  float:left;
  @include transition(.3s); border:1px solid $border-color; margin-right: 20px; border-radius:50px; height:40px; width:40px; line-height:40px; text-align:center; vertical-align:middle;
  i { font-size:26px; margin: auto; line-height: 40px;@include transition(.3s);}
  &:hover i{ color:$hover-text-color;}
  &:hover { background:#f28021; border-color:$hover-color; cursor:pointer; @include transition(.3s);}
}



/********************************/
/*          Slider CSS     */
/********************************/
.product-carousel {

  .carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }

  .carousel-inner .item,
  .carousel-inner .active.left,
  .carousel-inner .active.right {
    opacity: 0;
  }
  .carousel-inner .active,
  .carousel-inner .next.left,
  .carousel-inner .prev.right {
    opacity: 1;
  }

  .carousel-inner .next,
  .carousel-inner .prev,
  .carousel-inner .active.left,
  .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }


}

.carousel-fade
{
  .carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .carousel-inner  { max-height: 500px;}
  .carousel-inner > .item > img { width:100%;}

  .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-inner .item,
  .carousel-inner .active.left,
  .carousel-inner .active.right {
    opacity: 0;
  }
  .carousel-inner .active,
  .carousel-inner .next.left,
  .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-inner .next,
  .carousel-inner .prev,
  .carousel-inner .active.left,
  .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-control {
    z-index: 2;
    background: none;
    width: 100%;
    height: 100%;
    display: inline-block;
  }

}


/********************************/
/*       Flexbox grid CSS     */
/********************************/
.flexbox-container {
  //display: -ms-flex;
  //display: -webkit-flex;
  @include flex-box;
  flex-direction: row ;
  flex-wrap:wrap ;

}
//.flexbox-container > .flexbox-content,
.flexbox-sidebar {
  //width: 100%;
  //padding: 10px;
  //background:#ff9900;
  //height:100%;
}
.flexbox-content {
  //margin-right: 20px;
  //background:#ff6600;
  //height:100%;
}

/********************************/
/*          Mobile device CSS     */
/********************************/
@media (min-width: 1400px)
{
  .container {
    width: 1400px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .call-icon-div { display:none;}

}



@media only screen and (min-width: 769px) and (max-width: 991px) {
  .navbar-nav {

    margin:0px;
    background:transparent;
    li>a { border-bottom: 0px solid #d7d7d7;}
  }

  .navbar-form {
    .input-group { width:auto; }
  }

  .call-icon-div { display:none;}
  .sidebar-nav {
    ul { width:100%;}
  }
  .since1902 { display:none;}
  .flexbox-container  { display:block;}
  .category-top-bar {

    border-top:0px solid #d7d7d7; @include flex-box; justify-content:flex-start; margin-top:50px; }

}

@media only screen and (max-width: 768px) {
  .since1902 { display:none;}
  .navbar-toggle { background:#505050;}
  .navbar-toggle .icon-bar { background:#ffffff;}
  .navbar-brand img{ height:85px; z-index:100;}
  .flexbox-container  { display:block;}
  .navbar-form {
    .input-group { width:auto; }
  }
  .top-cart{

    .col-md-8 ,  .text-right { margin-top:0px;}

  }
  .navbar-nav {

    margin:0px;
    background:transparent;
    li>a { border-bottom: 0px solid #d7d7d7;}
  }

  .foo-contact p { font-size:16px; margin-top:20px;}
  .call-icon-div { display:none;}
  .category-list , .product-list , .category-top-bar
  {

    //@include flex-box;
  }

  .sidebar-nav {
    ul { width:100%;}
  }

}

@media only screen and (max-width: 650px) {
  .flexbox-container  { display:block;}
  .navbar-form {
    .input-group { width:auto; }
  }
  .navbar-collapse .navbar-nav {

    float:left!important;
    width: 100%;
    margin:0px;
    li>a { border-bottom: 1px solid #d7d7d7;}
  }

}